<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simsimhow - Main</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- 상단 네비게이션 바 -->
    <header class="navbar">
        <div class="logo-container">
            <img src="{% static 'main/images/simsimhow.png' %}" alt="Simsimhow">
            <span class="logo-text">SIMSIMHOW</span>
        </div>
        <nav>
            <a href="{% url 'activate' %}">활동 인증 게시판</a>
        </nav>
    </header>

    <div class="doors">
        <div class="door" id="door1" data-url="{% url 'door1' %}">
            <img class="door-img" src="{% static 'main/images/door1.png' %}" alt="Door 1">
        </div>
        <div class="door" id="door2" data-url="{% url 'door2' %}">
            <img class="door-img" src="{% static 'main/images/door1.png' %}" alt="Door 2">
        </div>
        <div class="door" id="door3" data-url="{% url 'door3' %}">
            <img class="door-img" src="{% static 'main/images/door1.png' %}" alt="Door 3">
        </div>
        
    </div>

    <!-- 첫 번째 입력 박스 -->
    <div class="input-container" id="input-container1" style="display: none;">
        <p id="question1">문제: 4바이트는 몇 비트일까?</p>
        <input type="text" id="answer1" placeholder="정답을 입력하세요">
        <button id="submit-answer1">제출</button>
        <p id="feedback1" style="display: none; color: red;"></p>
    </div>

    <!-- 두 번째 입력 박스 -->
    <div class="input-container" id="input-container2" style="display: none;">
        <p id="question2">문제: 주강사님의 이름은?</p>
        <input type="text" id="answer2" placeholder="정답을 입력하세요">
        <button id="submit-answer2">제출</button>
        <p id="feedback2" style="display: none; color: red;"></p>
    </div>

    <div class="input-container" id="input-container3" style="display: none;">
        <p id="question3">문제: 파이썬 기반 웹 프레임워크는?</p>
        <input type="text" id="answer3" placeholder="정답을 입력하세요">
        <button id="submit-answer3">제출</button>
        <p id="feedback3" style="display: none; color: red;"></p>
    </div>

    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>
